<header class="menu padding-x pt-6">
  <h1 class="text-lg font-bold">Garry.</h1>
  <nav class="hidden lg:block">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Service</a>
      </li>
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="#">Project</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#" class="rounded-full">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="lg:hidden">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
</header>
