<header class="menu padding-x py-6 lg:pt-8 lg:pb-0">
  <h1 class="text-lg font-bold lg:flex-1 lg:text-2xl">Garry.</h1>
  <nav class="hidden lg:flex lg:items-center lg:justify-between lg:flex-1">
    <ul class="flex items-center gap-10">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Service</a>
      </li>
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="#">Project</a>
      </li>
    </ul>
    <ul class="flex items-center gap-10">
      <li>
        <a href="#" class="btn rounded-full border border-white">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="lg:hidden">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
</header>
