<footer class="padding pb-24">
  <div class="flex flex-wrap gap-6 justify-between pb-8">
    <div class="flex-1">
      <h1 class="text-xl font-bold">Garry.</h1>
      <div class="contacts">
        <div>
          <fa-icon [icon]="faLocationDot" class="text-xl"></fa-icon>
          <p>Tanambao, Fianarantsoa, Madagascar</p>
        </div>
        <div>
          <fa-icon [icon]="faPhone" class="text-xl"></fa-icon>
          <p>+261341089861</p>
        </div>
        <div>
          <fa-icon [icon]="faEnvelope" class="text-xl"></fa-icon>
          <p class="break-words">tahinjanaharygarry&#64;gmail.com</p>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <h1 class="text-xl font-bold">Social</h1>
      <ul>
        <li>
          <a>Linked-in</a>
        </li>
        <li>
          <a>Facebook</a>
        </li>
        <li>
          <a>Twitter</a>
        </li>
        <li>
          <a>Instagram</a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <h1 class="text-xl font-bold">Services</h1>
      <ul>
        <li>
          <a>Web Development</a>
        </li>
        <li>
          <a>Mobile Development</a>
        </li>
        <li>
          <a>Teaching</a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <h1 class="text-xl font-bold">Menu</h1>
      <ul>
        <li>
          <a>About me</a>
        </li>
        <li>
          <a>Services</a>
        </li>
        <li>
          <a>Skills</a>
        </li>
        <li>
          <a>Experiences</a>
        </li>
        <li>
          <a>Projects</a>
        </li>
        <li>
          <a>Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <h1 class="text-xl font-bold">Ressource</h1>
      <ul>
        <li>
          <a>Download CV</a>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="py-8 text-sm text-center border-t border-t-white border-opacity-20 flex flex-col gap-6"
  >
    <p>
      Copyright &copy; 2023 TAHINJANAHARY Josimar Garry Ismaël - All rights
      reserved.
    </p>
    <div class="flex items-center justify-center gap-2">
      <span>Privacy</span>
      <span>Security</span>
      <span>Terms</span>
    </div>
  </div>
</footer>
