<section class="padding">
  <h1 class="title">Featured Projects</h1>
  <p class="padding-t text-base lg:text-lg">
    I have worked on many projects over the course of being a Web Developer,
    here are a few of my live, real-world projects
  </p>
  <div class="swiper flex mt-6 overflow-x-hidden">
    <div class="swiper-wrapper">
      @for (project of projects; track project.title) {
      <div class="swiper-slide">
        <img
          [ngSrc]="project.image"
          [alt]="project.title"
          width="382"
          height="240"
          class="w-full h-auto"
        />
        <div class="p-6">
          <h1 class="text-2xl font-semibold lg:text-3xl">{{ project.project }}</h1>
          <div class="flex items-center justify-between my-3">
            <h2 class="text-lg font-semibold lg:text-xl">{{ project.title }}</h2>
            <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
          </div>
          <p class="text-base lg:text-lg">
            {{ project.text }}
          </p>
        </div>
      </div>
      }
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
