@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--electric-violet);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue-25);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--electric-violet);
}

body {
  font-family: Inter;
  @apply bg-slate-950 text-white;
}

@layer components {
  .title {
    @apply text-3xl font-bold;
  }

  .text-gradient {
    background: linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .padding-x {
    @apply px-6;
  }

  .padding-t {
    @apply pt-8;
  }

  .padding {
    @apply px-6 pt-8;
  }

  .margin-t {
    @apply mt-8;
  }

  .btn {
    @apply py-3;
  }
}
